<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="OLDOPENDAS"/>
<stringAttribute key="TALEND_JOB_ID" value="_sPP5gD28EeChMvws1TF8eg"/>
<stringAttribute key="TALEND_JOB_NAME" value="GET"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
